.InsumosModal_background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.404);
}

.InsumosModal_content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    height: 60vh;
    overflow-y: scroll;
}

.InsumosModal_content select{
    padding: 6px;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.insumos_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.insumos_title button{
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.form{
    padding: 25px;
    background-color: #dddddd50;
    border: 1px solid #dddddd57;;
    border-radius: 8px;
    width: 65%;
}

.input_form{
    font-family: 'Montserrat', sans-serif;
    width: 95%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgba(190, 189, 189);
    margin-top: 6px;
    margin-bottom: 20px;
}

